.promo-sections__media {
  min-height: 100%;
  overflow: visible;
}

@media screen and (min-width: 750px) {
  .promo-sections__media-item--small {
    width: 33%;
  }

  .promo-sections__media-item--medium {
    width: 66%;
  }
}

.promo-sections-center {
  margin: auto;
}

.promo-sections-right {
  margin-left: auto;
}

.promo-sections__color-yellow {
  background: #FFEBA6;
}

.promo-sections__color-blue {
  background: #E8FBFF;
}

.promo-sections__banner-text {
  padding: 10px;
  margin-top: 10px;
}

.promo-sections__banner-text h1 {
  font-size: 26px;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  padding: 0;
  margin: 0 0 6px 0;
  text-align: center;
}

.promo-sections__banner-text h1 span {
  font-weight: bold;
}

.promo-sections__bullet-text {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
